.label {
    text-align: left;
    font-size: 0.7rem;
    color: gray;
    font-weight: bold;
    margin-left: 25px;
  }
  .input {
    border: none;
    margin-right: 10px;
  }
  input::placeholder {
    font-weight: 700;
    color: rgb(196, 196, 196);
  }

  .write {
    font-size: 0.6rem;
    font-weight: bold;
    margin-left: 20px;
    color: gray;
    margin-top: 0px;
  }
  .confirm-button {
    color: white;
    width: 80%;
    background-color: rgb(86, 86, 235);
    height: 5vh;
    border: none;
    border-radius: 20px;
    
    margin-top: 80px;
    margin-bottom: 30px;
  }